<%= form_for @mechanic do |f| %>
  <div>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div>
    <%= f.label :bio %><br>
    <%= f.text_field :bio %>
  </div>
  <div>
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address %>
  </div>
  <div>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
