
<div class="container">
  
  <div class="ui stackable two column very relaxed grid container" style="position:relative;">
    <div class="column">
      <div class="segment">
        
        <!-- <div class="ui link cards"> -->
          <div class="ui card">
            <div class="image">
              <img src="http://semantic-ui.com/images/avatar2/large/elyse.png">
            </div>
            <div class="content">
              <div class="header"><%= "#{@mechanic.first_name} #{@mechanic.last_name}" %></div>
              <div class="meta">
                <a><%= "Location: #{@mechanic.city}" %> </a>
              </div>
              <div class="description">
                <%= "#{@mechanic.bio}" %>
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                <%= "Joined #{@mechanic.created_at}" %>
              </span>
              <span>
                <i class="user icon"></i>
                <%= "Service Orders: #{@mechanic.bookings.count}" %>
              </span>
            </div>
          <!-- </div> -->
        </div>
        <button class="massive ui button">
            Request a Service Order
        </button>


      </div>
    </div>
    <div class="ui divider vertical"></div>
    <div class="column">
      <div class="ui segment">
        <h2 class="ui left floated header"><%= "#{@mechanic.first_name}'s Service Menu" %></h2>
          <div class="ui clearing divider"></div>
          <ul>
          <% @mechanic.services.each do |service| %>
            <li><%= "#{service.service_name} for $#{service.service_price}" %></li>
          <% end %>
          </ul>
          <button class="large ui button">
            <%= button_to "Add A Service", new_mechanic_service_path(@mechanic), {method: :get} %>
          </button>

        </div class="ui segment">


          <h2 class="ui left floated header">Reviews</h2>
          <div class="ui clearing divider"></div>
          <div class="ui card">
            <div class="content">
              <div class="header">Thanks for the help</div>
              <div class="meta">
                <span class="right floated time">2 days ago</span>
                <span class="category">
                  <div class="ui mini star rating" data-max-rating="10" data-rating="4"></div>
                </span>
              </div>
              <div class="description">
                <div class="right floated author">
                <img class="ui avatar image" src="http://semantic-ui.com/examples/assets/images/wireframe/image.png"> 
                <%= "#{@mechanic.review_of_mechanics.first.cyclist.first_name}" %>
                </div>
                <p><%= "#{@mechanic.review_of_mechanics.first.comments}" %></p>
                <p><%= "Rating: #{@mechanic.review_of_mechanics.first.rating}" %></p>
              </div>
            </div>
            <div class="extra content">
              <div class="left floated author">
                <i class="configure icon"></i>
                <%= "Provided expected service: #{@mechanic.review_of_mechanics.first.service_expected}" %>
              </div>
            </div>
            <div class="extra content">
              <div class="left floated author">
                <i class="dollar icon"></i>
                <%= "Charged expected price: #{@mechanic.review_of_mechanics.first.price_expected}" %>
              </div>
            </div>
          </div>

    </div>
  </div>