<h1>Your Service Orders</h1>

<% @user = User.find(session[:id]) %>
<% @user.bookings.each do |booking| %>
  <h3>Service Order</h3>
  <p><%= "Mechanic: #{booking.mechanic.first_name} #{booking.mechanic.last_name}" %></p>
  <p><%= "Job Description: #{booking.description}" %></p>
  <p><%= "Job Status: #{booking.status}" %></p>
  <h4>Requested Services</h4>
  <% booking.services.each do |service| %>
    <p><%= "#{service.service_name} for $#{service.service_price}" %></p>
  <% end %>
  <p><strong><%= "Total Order Cost: $#{booking.total_order_cost}" %></strong></p>
<% end %>


<div class="ui container">
	<div class="ui very padded raiseda segment">

		<div class="ui card">
		  <div class="content">
		    <div class="header">Cute Dog</div>
		    <div class="meta">2 days ago</div>
		    <div class="description">
		      <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
		      <p>Many people also have their own barometers for what makes a cute dog.</p>
		    </div>
		  </div>
		</div>

	</div>
</div>