<h1>One Of Your Bookings</h1>

<h2><strong><%= @booking.description %></strong></h2>
<h3><strong><%= @booking.status %></strong></h3>

<h4>Requested Services</h4>
<% @booking.services.each do |service| %>
  <p><%= "#{service.service_name} for #{service.service_price}" %></p>
<% end %>
<h4>Comments</h4>
<% @booking.comments.each do |comment| %>
  <p><%= comment.content %></p>
  <p><%= "Date: #{comment.created_at}" %>
  <p>-----</p>
<% end %>
