<h1>One Of Your Bookings</h1>

<h2><strong><%= @booking.description %></strong></h2>
<h3><strong><%= @booking.status %></strong></h3>

<h4>Requested Services</h4>
<% @booking.services.each do |service| %>
  <p><%= "#{service.service_name} for #{service.service_price}" %></p>
<% end %>
<h4>Comments</h4>
<% @booking.comments.each do |comment| %>
  <p><%= comment.content %></p>
  <p><%= "Date: #{comment.created_at}" %>
  <p>-----</p>
<% end %>


<div class="ui container">
	<div class="ui very padded raiseda segment">

		<div class="ui card">
		  <div class="content">
		    <div class="header">Cute Dog</div>
		    <div class="meta">2 days ago</div>
		    <div class="description">
		      <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
		      <p>Many people also have their own barometers for what makes a cute dog.</p>
		    </div>
		  </div>
		</div>

	</div>
</div>