<% content_for :header do -%>

   <style>
      #map {
        width: 100%;
        height: 400px;
      }

      #search-bar {
      	display: flex;
      	justify-content: center;
      	padding-top: 30px;
      }

    </style>

 <% end %>

 <!-- Start of the GoogleMaps section -->

  <div class="ui raised padded container segment">
  <div id="map"></div>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaSqrBGawH1jmeVDXZjWq0gUWrIX-m8mA&callback=initMap">
  </script>

 <!-- end of the GoogleMaps section -->

	<div>
		<div id="search-bar" class="ui search">

      <%= form_tag(pages_home_path, method: :get, class: "ui icon input" ) do %>
        <%= text_field_tag("service", "Search nearby...", class: "prompt") %>
        <%= hidden_field_tag("location", request.safe_location) %>
        <%= button_tag do %>
          <i class="search icon"></i>
        <% end %>
      <% end %>

		  <div class="results"></div>
		</div>
	</div>

</div>

<div class="ui divider"></div>


<h2 class="ui center aligned header">Mechanics Nearby for: #{city}</h2>

<div class="ui container">
  <div class="ui relaxed divided items">

    <!-- Display each mechanic returned from the database -->
    <% @mechanics.each do |mechanic| %>
      <div class="item">

        <div class="ui small image">
          <img src="http://semantic-ui.com/examples/assets/images/wireframe/image.png">
        </div>

        <div class="content">
          <a class="header"><%= mechanic.full_name %></a>
          <div class="ui right floated animated fade button">
              <div class="visible content">
                <%= "Get in touch with #{mechanic.first_name}" %>
                <i class="right chevron icon"></i>
              </div>
              <div class="hidden content">
                Message Now
                <i class="mail outline icon"></i>
              </div>
          </div>
          <div class="meta">
            <!-- Commenting out 'proximity' because this relies on the Google Maps API to calculate and should likely go in a script file -->
            <!-- <a>#{proximity}</a> -->
            <a><%= mechanic.city %></a>
          </div>
          <div class="description">
            <%= mechanic.bio %>
          </div>
          <div class="extra">
            <i class="user icon"></i>
            <%= mechanic.full_name %>  <!-- Replaced 'username' with full name b/c we don't have usernames -->
          </div>
          <div class="extra">
              Rating: <%= mechanic.avg_rating %>
            <div class="ui star rating" data-max-rating="10"></div>
          </div>
        </div> <!-- End 'content' -->
      </div> <!-- End 'item' -->
    <% end %>
    <!-- End of mechanics display -->

  </div>
</div>
