<%= form_for([:mechanic, @review]) do |f| %>
  <div>
    <%= f.hidden_field :mechanic_id, value: params[:mechanic_id] %>
  </div>
  <div>
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div>
    <%= f.label :service_expected %><br>
    <%= f.check_box :service_expected %>
  </div>
  <div>
    <%= f.label :price_expected %><br>
    <%= f.check_box :price_expected %>
  </div>
  <div>
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>
