<% @mechanic = Mechanic.find(params[:mechanic_id]) %>
<%= form_for(@review, { url: "/mechanics/#{@mechanic.id}/review_of_mechanics", method: :post }) do |f| %>
  <div>
    <%= f.hidden_field :mechanic_id, value: @mechanic.id %>
  </div>
  <h2 class="ui header"> How was your experience? </h2>
  <div>
      <%= f.label :rating %><br><br>
      <%= f.number_field :rating%>
  </div>
  <div>
  <br>
  <br>
  <div class="ui slider checkbox">
  <!-- Checkbox tag must go ABOVE here for this to work! -->
    <%= f.check_box :service_expected %>
    <%= f.label :service_expected %><br>
  </div>
  <br>
  <br>
  <div class="ui slider checkbox">
    <!-- Checkbox tag must go ABOVE here for this to work! -->
    <%= f.check_box :price_expected %>
    <%= f.label :price_expected %><br>
  </div>
  </div>
    <div class="ui padded form">
      <div class="field">
        <br><%= f.label :comments %><br>
        <%= f.text_area :comments , :placeholder => 'Please leave a comment or two about your experience with this mechanic...' %>
      </div>
    </div>
    <br>
    <br>
   <div>
      <%= button_tag( :class => "ui teal labeled icon button") do %>
        Submit Review <i class="add icon"></i>
      <% end %>
    </div>
<% end %>

