<div class="container">
  
  <div class="ui stackable two column very relaxed grid container" style="position:relative;">
    <div class="column">

        
        <!-- <div class="ui link cards"> -->
          <div class="ui card">
            <div class="image">
              <img src="http://semantic-ui.com/images/avatar2/large/elyse.png">
            </div>
            <div class="content">
              <div class="header"><%= "#{@cyclist.first_name} #{@cyclist.last_name}" %></div>
              <div class="meta">
                <a><%= "Location: #{@cyclist.city}" %> </a>
              </div>
              <div class="description">
                <%= "#{@cyclist.bio}" %>
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                <i class="user icon"></i>
                <%= "Joined Pedalspace on #{@cyclist.created_at.strftime("%m/%d/%Y")}" %>
              </span>
              <span class="right floated">
                <%= "Service Orders: #{@cyclist.bookings.count}" %>
              </span>
              <span class="left floated">
                <%= "Average Rating: #{@cyclist.avg_rating}/10" %>
              </span>
            </div>
          <!-- </div> -->
        
        <div>
        <% if current_user.id == @cyclist.id %>
          <button class="huge ui button">
            <%= button_to "My Service Orders", cyclist_bookings_path(@cyclist), {method: :get} %>
          </button>
        <% end %>
        </div>
      </div>
    </div>
    <div class="ui divider vertical"></div>
    <div class="column">
    
          <h2 class="ui left floated header"><%= "Reviews about #{@cyclist.first_name}" %></h2>
          <% @cyclist.review_of_cyclists.each do |review| %>
          <div class="ui clearing divider"></div>
          <div class="ui card">
            <div class="content">
              <div class="description">
                <div class="right floated author">
                <img class="ui avatar image" src="http://semantic-ui.com/examples/assets/images/wireframe/image.png"> 
                </div>
                <p><%= "#{review.comments}" %></p>
                <p><%= "Rating: #{review.rating}" %></p>
                <p><%= "Written by: #{review.mechanic.first_name} #{review.mechanic.last_name}" %></p>                   
              </div>
            </div>
            <div class="extra content">
              <div class="left floated author">
                <i class="dollar icon"></i>
                <%= review.did_pay ? "Paid quoted price." : "Did not pay quoted price." %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  