<!DOCTYPE html>
<html>
  <head>
    <title>Pedalspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<script>
	  $(document)
	    .ready(function() {

	      // fix menu when passed
	      $('.masthead')
	        .visibility({
	          once: false,
	          onBottomPassed: function() {
	            $('.fixed.menu').transition('fade in');
	          },
	          onBottomPassedReverse: function() {
	            $('.fixed.menu').transition('fade out');
	          }
	        })
	      ;

	      // create sidebar and attach to menu open
	      $('.ui.sidebar')
	        .sidebar('attach events', '.toc.item')
	      ;

	    })
	  ;
	</script>

  <%= yield :header %>

  </head>

  <body>

  <!--     This is where the nav bar is rendered in each page of the application -->
    <%= render :partial => "shared/navbar" unless 
            current_page?('/') || current_page?('/users/sign_in') || current_page?('/users/sign_up') %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
